*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'overpass', 'manrope', sans-serif;
}

body{
    background-color: #111111;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.navbar{
    height: 100px;
    border-bottom: 0.5px solid rgb(62, 62, 62);
    position: relative;
    z-index: 2;
}

.nav_container{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 18px;
    color: black;
}

.menu,
.contain-hamburger{
    margin-left: auto;
}

.menu{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fafafa;
    transform: translateX(100%);
    transition: 0.3s ease-in-out; 
}

.menu li{
    width: 150px;
    height: 50px;
}

.menu li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: 0.3s ease-in-out; 
}

.menu li a:hover{
    background-color: #333;
    color: #fafafa;
}

.contain-hamburger{
    width: 40px;
    height: 40px;
    border: 1px solid #fafafa;
    cursor: pointer;
    position: relative;
}

.bar1,
.bar2,
.bar3{
    width: 70%;
    height: 2px;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out; 
}

.bar1{
    top: 35%;
}

.bar3{
    top: 65%;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 60%;
}

.header-text p{
    margin-top: 20px;
    width: 100%;
}

.header-text,
.scroll-down{
    color: #fafafa;
}

.scroll-down{
    position: absolute;
    z-index: 2;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    opacity: 0.7;
}

.arrow{
    font-size: 30px;
    margin-bottom: 10px;
}

/* HEADER ACTIVE CLASS */
.menu.active{
    transform: translateX(0%);
}

.bar2.active{
    transform: translateX(-150%);
    opacity: 0;
}

.bar1.active{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.bar3.active{
    transform: translate(-50%, -50%) rotate(45deg);
}

.bar1.active,
.bar3.active{
    top: 50%;
}

/* SECTION MIS EN AVANT */
.mis_en_avant{
    padding: 150px 0;
}

.contain_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contain_card:not(:last-child){
    margin-bottom: 100px;
}

.contain_card:nth-child(2){
    flex-direction: column-reverse;
}

.img_en_avant{
    width: 300px;
    height: 300px;
    background-image: url(../img/card1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    margin: 0 auto 75px;
}

.contain_card:nth-child(2) .img_en_avant{
    background-image: url(../img/card2.jpg);
}

.img_en_avant::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(5deg);
}

.contain_card_text{
    color: #616062;
}

.contain_card_text h2{
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #f1f1f1;
}

.contain_card_text p{
    font-size: 16px;
    line-height: 1.5em;
}


.contain_card_text p:not(:last-child){
    margin-bottom: 10px;
}

.contain_btn{
    margin-top: 30px;
}

.btn{
    padding: 7.5px 20px;
    background-color: #111111;
    border: 1px solid #616062;
    color: #616062;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:not(:last-child){
    margin-right: 10px;
}

/* SECTION SERVICES */

.choose{
    background-color: #0D0D0D;
    padding: 100px 0;
    color: #616062;
}

.choose h1,
.choose h2{
    color: #f1f1f1;
}

.choose h1,
.drops h1,
.roadmap h1,
.investor h1,
.news h1{
    text-transform: capitalize;
    font-weight: 400;
    display: block;
    margin: 0 auto 75px;
    width: fit-content;
    color: #f1f1f1;
}
.choose h1::after,
.drops h1::after,
.roadmap h1::after,
.investor h1::after,
.news h1::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: #f1f1f1;
    margin: 10px auto 0;
}

.sercice-card{
    width: 400px;
    padding: 50px 25px;
    border: 1px solid #616062;
    border-radius: 3px;
    margin: 75px auto 0;
    position: relative;
}

.idx{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #616062;
    padding: 2.5px 15px;
    color: #f1f1f1;
    transform: translateY(-100%);
}

.sercice-card h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.sercice-card p{
    line-height: 1.6em;
}

/* SECTION DROP */

.drops{
    padding: 100px 0;
    color: #f1f1f1;
}

.drop-card{
    width: 400px;
    height: 500px;
    border: 1px solid #616062;
    border-radius: 3px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
}


.drop-card img{
    width: 100%;
    height: 450px;
    border-radius: 2px 2px 0 0;
}

.drop-card p {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-drop{
    width: 400px;
    background-color: transparent;
    color: #616062;
    border: 1px solid #616062;
    border-radius: 3px;
    padding: 10px 0;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* SECTION ROADMAP */

.roadmap{
    padding: 0 0 100px;
    color: #616062;
}

.roadmap h1,
.roadmap h2{
    color: #f1f1f1;
}

.roadmap-card{
    padding: 30px;
    width: 400px;
    height: auto;
    border: 1px solid #616062;
    border-radius: 3px;
    margin: 0 auto;
}

.roadmap-imgs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
}

.roadmap-imgs > div{
    border-radius: 3px;
}

.img1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}

.img2{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}

.img3{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}

.roadmap-text{
    margin-top: 50px;
}

.date{
    background-color: #616062;
    color: #f1f1f1a5;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
}

.roadmap-text h2,
.date,
.roadmap-text p
{
    margin-bottom: 15px;
}

.roadmap-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}

.roadmap-text p{
    line-height: 1.5em;
    font-size: 15px;
}

.roadmap-text button{
    background-color: transparent;
    border: 1px solid #616062;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #616062;
    border-radius: 3px;
}

/*  TIMELINE */

.timeline{
    width: 400px;
    margin: 50px auto 0;
}

.line{
    width:90%;
    margin: 0 auto;
    height: 1px;
    background-color: #616062;
}

.timeline-arrow{
    width: 100%;
    justify-content: space-between;
    display: flex;
    transform: translateY(58%);
}

.timeline-arrow .left{
    margin-right: 2.5%;
}

.contain-timeline-card{
    display: flex;
    justify-content: space-evenly;
}

.timeline-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-4px);
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-bottom: 5px;
}

.timeline-date{
    font-size: 13px;
}

.timeline-desktop{
    display: none;
}

/* SECTION INVESTOR */

.investor{
    background-color: #0D0D0D;
    padding: 100px 0;
}
.contain-investor-cards{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.investor-card{
    width: 30%;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 400;
    text-transform: uppercase;
}

.investor-desktop{
    display: none;
}

/* SECTION NEWS */

.news{
    color: #616062;
    padding: 100px 0;
}

.news-card{
    width: 400px;
    margin: 0 auto 50px;
}

.news-card h2{
    color: #f1f1f1;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}

.news-card h2, 
.news-card p{
    margin-bottom: 20px;
}

.news-card p{
    line-height: 1.5em;
}

.news-card button{
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #616062;
    border-radius: 3px;
    color: #616062;
}